html {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	height: 100vh;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	font-size: 1.1rem;
}

body {
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	min-height: 100%;
}

footer {
	background-color: #426b1f;
	bottom: 0;
	color: #fff;
	padding: 10px;
	position: fixed;
	text-align: center;
	width: 100%;
}

footer p {
	margin: auto;
	font-size: 0.8rem;
}

header {
	align-items: center;
	background-color: rgba(145, 168, 126, 0.22);
	color: #35200e;
	display: flex;
	height: 50px;
	margin: 0;
	padding: 10px 0;
	text-align: left;
}

header a {
	color: #35200e;
	margin: 0 10px;
	text-decoration: none;
}

.header {
	display: flex;
	justify-content: space-between;
}

.imagem {
	border-radius: 10px;
}

.logo {
	flex: 1;
}

.menu {
	flex: 2;
	list-style-type: none;
	margin-left: 4rem;
}

.menu li {
	display: inline-block;
}

.redes-sociais {
	margin-bottom: -1rem;
	display: block;
	text-align: left;
}

.redes-sociais a i {
	color: #ffffff;
	display: inline-block;
	font-size: 20px;
	margin: 0 10px;
	text-align: left;
	align-self: center;
}

.search-form {
	flex: 3;
	text-align: right;
}

/* css especifico para pagina home */
.home__info {
	display: flex;
	margin: auto;
	width: 80%;
	margin-top: 3rem;
}

.home__info-text {
	text-align: justify;
	margin-right: 2rem;
}

.home__topics {
	margin-top: 3rem;
	background-color: #eae9dd;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.home__topics-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 190px;
	height: 150px;
	background-color: #d6d4bd;
	border-radius: 10px;
}

.home__topics-container a {
	text-decoration: none;
	color: #000000;
	text-align: center;
}

.home__topics-container:hover {
	background-color: #d1d1c7;
	cursor: pointer;
}

@media (min-height: 768px) {
	.home__info {
		margin-top: 8rem;
	}

	.home__topics {
		margin-top: 8rem;
	}
}

/* css especifico para pagina sobre */

.sobre__info {
	display: flex;
	width: 90%;
	margin-left: 2rem;
}

.sobre__info-img {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.sobre__info-text {
	text-align: justify;
	margin: 2rem 0 2rem 2rem;
}

.sobre__info-text.colorida {
    background-color: #F8EEE5;
    padding: 20px;
    border-radius: 10px;
}


.sobre__info-text ul {
    list-style-type: disc;
    margin-left: 20px;
}


.sobre__info-text h1,h2 {
    text-align: center;
}


.sobre__info-text p {
    text-align: center;
}


.sobre__info-text.colorida p:last-child {
    text-align: left;
}

/* css especifico para pagina pesquisa */

/* css especifico para pagina forum */

.forum__container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	font-size: 0.8rem;
}

.forum__post-item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	text-align: left;
	margin: 1rem 1rem 0 1rem;
	padding: 0.5rem;
	background-color: #eae9dd;
	border-radius: 10px;
}

.forum__post-item--options {
	display: flex;
	justify-content: space-between;
	padding: 0.3rem;
	margin-top: 0.5rem;
}

.forum__post-item--options span {
	vertical-align: super;
	margin-right: 0.4rem;
}

.forum__post-new {
	margin: 1rem 1rem 0 1rem;
	width: 80%;
}

.forum__post-new input {
	background-color: #eae9dd;
	border: none;
	border-radius: 10px;
	padding: 0.5rem;
}

.forum__post-new--upper {
	display: flex;
	justify-content: space-between;
}

.forum__post-new--lower {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
}

.forum__post-new--button {
	background-color: #426b1f;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	padding: 0.5rem;
	margin-left: 0.5rem;
	height: 45px;
	width: 80px;
}

.forum__trending-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	min-height: 180px;
	text-align: left;
	margin: 1rem 1rem 0 1rem;
	padding: 0.5rem;
	background-color: #eae9dd;
	border-radius: 10px;
}

.forum__trending-topics {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 150px;
}

.forum__trending-topics {
	font-size: 0.8rem;
}

/* comment section */

.comment__item--main {
	display: flex;
    align-items: center;
}

.comment__item {
	display: flex;
	width: 85%;
    justify-content: flex-end;
    align-items: center;
}

.comment__item--second {
    display: flex;
	width: 70%;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
}

/* css página de sustentabilidade */

.container {
            display: flex;
            align-items: center; 
            justify-content: space-between; 
            width: 100%;
            max-width: 800px; 
            margin: 0 auto; 
            padding: 20px;
            border: 1px solid #ccc; 
			background-color: #EAE9DD;
			border-radius: 10px;
        }

        .container img {
            width: 400px; 
            height: 400px; 
            object-fit: cover; 
        }

        .container p {
            flex: 1; 
            margin-right: 20px; 
        }
		
		.caixa-texto ol {
			list-style-type: decimal;
			padding-left: 40px; 
		}
		
		.caixa-texto ol li {
			text-align: left;
			margin-bottom: 10px;
		}

		.caixa-texto {
			background-color: #F8EEE5;
			margin-top: 30px; 
			border-radius: 10px;
		}

		.col-md-6 h1 {
			margin-bottom: 20px; 
		}
		
		.caixa-texto h2 {
			margin-bottom: 20px; 
		}

		header {
			margin-bottom: 30px; 
		}

		main {
			margin: 20px; 
			padding-bottom: 30px;
		}		
			


/* css página de ecoturismo */


.main-card-eco {
    margin: 20px auto;
    width: 80%;
    display: flex;
    gap: 20px;
	background-color: #EAE9DD;
	border-radius: 10px;
}

.text-and-image-eco {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-eco {
	margin-left: 10px;
}

.image-eco img {
    max-width: 100%;
}